body{
    background-color: rgb(142, 104, 190);
}

header{
    display: flex;
    background-color: rgb(149, 171, 190);
}
.imagenperfil{
    width: 30px;
    height: 30px;
}
header h1{
    justify-content: center;
}